#nav_title{
	margin:15px;
	color:blue !important;
}

.logo_img{
	height : 60px;
	width: auto;
	margin: 0px 10px;
}

.nav-wrapper{
	display: flex;
	justify-content: space-between;
}

.signout-button{
	border:1px solid black;
	background: #024390;
	color:white;
	margin:10px;
	border-radius:5px;
	padding:5px;
}