.announcement_tab{
	margin:2.5% 0%;
}

.end_hr{
	margin:2.5% 10%;
	width:80%;
}
.announcement_element{
	width: 60%;
	margin:5px 20%;
	padding:15px;
	box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 15px;
	display: flex;
	min-height: 100px;
}

.announcement_element_poster{
	display: flex;
	justify-content: left;
	align-items: center;
}
.announcement_element_detail{
	width: 100%;
}
.announcement_element_header{
	display: flex;
	justify-content: space-between;
	padding: 0px 15px;
}

.announcement_element_poster_img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin:0px 25px 0px 10px;
}

.announcement_element_poster_name{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.announcement_element_name{
	font-weight:800px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.announcement_element_time{
	display: flex;
	align-items: center;
	width: 25%;
	justify-content: right;
}

.announcement_element_description{
	padding:15px;
}

