.gradient_background{
	background: rgb(238,110,115);
	background: linear-gradient(90deg, rgba(238,110,115,1) 0%, rgba(2,67,144,1) 100%) !important;
}

.primary_background{
	background: #ee6e73 !important;
}
.accent_background{
	background: #024390 !important;
}

.app_section{
	height: 100%;
}

.class_detail{
	background: #024390;
	width: 100%;
	color:white;
	display: flex;
	justify-content: center;
	align-content: center;
	position: fixed;
}

.class_detail_header{
	margin:15px;
	font-size:1.2rem;
	font-weight: 750;
}
